<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Understand the basics of Jupyter Notebook and its functionalities.
- Learn about open-source tools commonly used in Data Science.
- Explore different libraries and frameworks for data analysis and visualization.
- Gain hands-on experience in writing and executing Python code within a notebook.

Some of the popular languages that Data Scientists use are:

<ol>
        <li>Python</li>
        <li>R</li>
        <li>SQL</li>
        <li>Julia</li>
        <li>Scala</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Matplotlib

 <p>Some of the commonly used development environment tools in data science:</p>
    <table border="1">
        <tr>
            <th>Data Science Tools</th>
        </tr>
        <tr>
            <td>Jupyter Notebook</td>
        </tr>
        <tr>
            <td>RStudio</td>
        </tr>
        <tr>
            <td>Apache Zeppelin</td>
        </tr>
    </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [3]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)  https://drive.google.com/drive/search?q=owner%3Ame%20(type%3Aapplication%2Fvnd.google.colaboratory%20%7C%7C%20type%3Aapplication%2Fvnd.google.colab)&authuser=0

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Author

Ushan